.sticky {
  background: var(--dark1);
  border-bottom: 1px solid var(--dark3);
  width: 100%;
  min-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.stickyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.stickyContainer p {
  color: var(--grey2);
  font-size: small;
  font-family: var(--fonti);
  line-height: 150%;
  letter-spacing: -0.42px;
  text-align: center;
}

.stickyContainer a img {
  width: 1rem;
}
