.resourceContContainer {
  position: relative;
}

.lineRes {
  width: 1px;
  background: var(--dark3);
  height: 100%;
  position: absolute;
  top: 0%;
  left: 35.5%;
}

.lineRes2 {
  width: 100%;
  background: var(--dark3);
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0%;
}

.resourceContContainer .top,
.resourceContContainer .bottom {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.tt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 30px 0px 0px;
  /* max-width: 40%; */

  img {
    width: 100px;
  }

  h3 {
    color: white;
    font-family: var(--fontk);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.6px;
  }

  p {
    color: var(--grey2);
    font-family: var(--fonti);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

.topRight {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  max-width: 60%;

  .textTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h4,
    p {
      max-width: 500px;
    }

    h4 {
      color: white;
      font-family: var(--fonti);
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    p {
      color: var(--grey2);
      font-family: var(--fonti);

      font-size: 12.5px;
      line-height: 150%;
    }
  }

  img {
    /* width: 600px; */
  }
  .total,
  .format,
  .insight {
    border-radius: 8px;
    border: 1px solid var(--Dark-15, #262626);
    background: var(--Dark-10, #1a1a1a);
    padding: 15px;

    small {
      color: var(--grey2);
      font-family: var(--fonti);
      font-size: 13px;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.48px;
    }

    h4 {
      color: white;
      font-family: var(--fonti);
      font-size: 15px;
      font-weight: 600;
      line-height: 150%; /* 27px */
      letter-spacing: -0.54px;
    }
  }

  .tolFor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    /* width: 100%; */

    .format {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      /* gap: 15px; */
    }
  }
}
